<p>
  home works!
</p>

<!-- <a routerLink="">Logout</a> -->

<p >
    logout <a (click)="sendMeHome()"><strong>Click this button to logout</strong></a>
</p> 

<p>
 <a (click)="sendtoRegister()">Register</a>
</p>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  
  <input type="text" placeholder="username" required maxlength="20" [(ngModel)]="username"
  name="userName" #pickedName="ngModel">

  <div *ngIf="!pickedName.valid && pickedName.touched"> user Name is Required</div>

  <button type="submit" [disabled]="!myForm.form.valid" (click)="sendtoRegister()"> Register </button>

  <button type="button" (click)="myForm.reset()"> Reset </button>


</form>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <td>index Id</td>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
  </tr>
    </thead>

<tr *ngFor="let adata of arr ; let i = index">
    <td>{{i}}</td>
    <td>{{adata.id}}</td>
    <td>{{adata.name}}</td>
    <td>{{adata.email}}</td>
</tr>
</table>